<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Anna Dominguez" />
    <meta name="publisher" content="O'Clock" />
    <meta name="description" content="" />
    <meta name="keywords" contextmenu="O'Clock coffee ocoffee" />
    <title>oCoffee</title>
    <link rel="stylesheet" href="/css/base/topology.css" />
    <link rel="stylesheet" href="/css/base/variables.css" />
    <link rel="stylesheet" href="/css/base/base.css" />
    <link rel="stylesheet" href="/css/components/header.css" />
    <link rel="stylesheet" href="/css/pages/<%= css %>.css" />
    <link rel="stylesheet" href="/css/components/coffee-card.css" />
    <link rel="stylesheet" href="/css/components/button.css" />
    <script defer src="/js/header.js"></script>
    <% if (css==='home' ) { %>
    <script defer src="/js/slider.js"></script>
    <% } %> <% if (css==='catalog' ) { %>
    <script defer src="/js/viewMore.js"></script>
    <% } %> <% if (css='shop') { %>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script defer src="/js/shopMap.js"></script>
    <% } %>
  </head>

  <body>
    <header>
      <section>
        <a href="/">
          <img src="/images/logo.svg" alt="oCoffee" />
          <h1>oCoffee</h1>
        </a>
      </section>
      <nav>
        <div id="openBtn">
          <span class="burger-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <ul id="nav">
          <li><a href="/">Accueil</a></li>
          <li><a href="/catalog">Catalogue</a></li>
          <li><a href="/shop">Boutique</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
