<%- include('./partials/header.ejs') %>
  <main>
    <img src="/images/404.png" alt="oCoffee logo" />
    <h2>404 - La ressource n'a pas été trouvée</h2>
  </main>

  <%- include('./partials/footer.ejs') %>
